name: Deploy to EC2

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    # 1️⃣ Checkout code
    - name: Checkout Code
      uses: actions/checkout@v4

    # 2️⃣ Login to DockerHub
    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    # 3️⃣ Build Docker Image
    - name: Build Docker Image
      run: |
        docker build -t govardhandev/kec-x-guvi-collaboration-portal-web:latest .

    # 4️⃣ Push Docker Image
    - name: Push Docker Image
      run: |
        docker push govardhandev/kec-x-guvi-collaboration-portal-web:latest

    # 5️⃣ Deploy to EC2
    - name: SSH and Deploy
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_SSH_KEY }}
        port: 22
        script: |
          sudo docker stop myapp || true
          sudo docker rm myapp || true
          sudo docker pull govardhandev/kec-x-guvi-collaboration-portal-web:latest
          sudo docker run -d \
            -p 80:80 \
            --restart always \
            --name myapp \
            govardhandev/kec-x-guvi-collaboration-portal-web:latest
